.weather {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}

.weatherIcon {
	width: 120px;
	height: auto;
	margin: -1rem;
}

.weatherDesc {
	font-size: 1rem;
	color: #555;
	text-transform: capitalize;
}

.weatherTemp {
	font-size: 2rem;
	color: #444;
	font-weight: bolder;
}
