/* Weather Container */
.weather {
	height: 210px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}

/* Weather Icon fetched from OWM API */
.weatherIcon {
	width: 120px;
	height: auto;
	margin: -1rem;
}

.weatherDesc {
	font-size: 1rem;
	color: var(--secondary-text);
	text-transform: capitalize;
}

/* Temperature */
.weatherTemp {
	font-size: 2rem;
	color: var(--primary-text);
	font-weight: bolder;
}
