.Grid {
	display: grid;
    padding: 1.5rem;
    height: 185px;
	justify-content: center;
    align-content: center;
    border: 1px solid red;
    overflow-y: hidden;
	/* grid-template-columns: 1fr 1fr; */
	/* grid-template-rows: repeat(2, calc((225px - 3rem - 1rem) / 2)); */
	/* gap: 1rem; */
}
