#gameArea {
	height: 210px;
	width: 100%;
	background-color: #777;
	overflow: hidden;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	box-shadow: 0px 0px 5px black inset;
	background: url('../../../../assets/images/bg.png');
	background-size: cover;
}

/* Bird Character */
#ball {
	width: 25px;
	height: 25px;
	background: url('../../../../assets/images/bird.png');
	background-size: cover;
	background-position: center center;
	border-radius: 50%;
	position: relative;
	top: 50%;
	left: 5px;
	z-index: 1;
}

/* Obstacles  */
#pillar {
	position: relative;
	background: #353567;
	background: url('../../../../assets/images/pillar.jpg');
	height: 100%;
	width: 25px;
	top: -25px;
	left: 275px;
	animation: animate-pillar 2.5s linear infinite;
}

/* Allowed Spaces */
#block {
	position: relative;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	background-color: #000;
	height: 70px;
	width: 25px;
	top: 50%;
}

/* Result - Score Screen */
.gameResult{
	height: 210px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #555;
}

.score{
	font-size: 2rem;
	color: #333;
	font-weight: 550;
}


/* Move Obstacle from Right to Left */
@keyframes animate-pillar {
	0% {
		left: 100%;
	}
	50% {
		left: 60%;
	}
	100% {
		left: -10%;
	}
}
