#gameArea {
	height: 210px;
	width: 100%;
	background-color: #eee;
	overflow: hidden;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

#ball {
	width: 25px;
	height: 25px;
	background-color: red;
	border-radius: 50%;
	position: relative;
	top: 50%;
	left: 5px;
	z-index: 1;
}

#pillar {
	position: relative;
	background: #000;
	height: 100%;
	width: 25px;
	top: -25px;
	left: 275px;
	animation: animate-pillar 2.5s linear infinite;
}

#block {
	position: relative;
	background-color: #eee;
	height: 70px;
	width: 25px;
	top: 50%;
}

@keyframes animate-pillar {
	0% {
		left: 100%;
	}
	50% {
		left: 60%;
	}
	100% {
		left: -10%;
	}
}
