* {
	transition: background-color 0.4s ease, color 0.1s ease;
}

/* Screen Container */
.displayScreen {
	position: absolute;
	height: 235px;
	width: 85%;
	background-color: var(--screen-bg);
	top: calc(50% + 10px);
	transform: translateY(-100%);
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow: hidden;
	box-shadow: 0px 0px 5px black inset;
}

/* Light Theme Colors */

:root {
	--screen-bg: #e6e6e6;
	--app-active: #3b1f2b;
	--app-active-icon: rgba(230, 175, 46, 0.7);
	--spinner-clr: #b9b2b2;
	--spinner-active-clr: #0884ca;
	--primary-text: #666;
	--secondary-text: #888;
	--toggler-bg: #d2d2d2;
	--active-setting: #5a95b8;
	--setting-clr: #dcdcdc;
	--notification-bar: #555;
}

/* Dark Theme Colors - Default */

.dark {
	--screen-bg: #aaa;
	--app-active: #d3d3d3;
	--app-active-icon: rgba(0, 0, 0, 0.2);
	--spinner-clr: #5a5a5a;
	--spinner-active-clr: #234;
	--primary-text: #444;
	--secondary-text: #555;
	--toggler-bg: #dcdcdc;
	--active-setting: #0884ca;
	--setting-clr: #ccc;
	--notification-bar: #4e4e4e;
}
