#wheel {
	position: absolute;
	top: 50%;
	transform: translateY(12.5%);
	width: 200px;
	height: 200px;
	background-color: rgb(240, 240, 240);
	border-radius: 50%;
	/* box-shadow: -4px -4px 6px rgba(255, 255, 255, 0.3) , -6px -6px 12px rgba(0, 0, 0, 0.6); */
}

/* Wheel Icons */
.wheel__item {
	position: absolute;
	font-size: 2rem;
	color: #888;
	top: 0;
	left: 0;
}

/* Centre Button */
.select-btn {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	height: 75px;
	width: 75px;
	box-shadow: 0px 0px 22px rgba(190, 190, 194, 0.4);
	background: #aaa;
}

.seekfwd-btn {
	top: 50%;
	left: 100%;
	transform: translate(calc(-100% - 12px), -50%);
}

.seekbwd-btn {
	top: 50%;
	left: 0%;
	transform: translate(calc(12px), -50%);
}

.menu-btn {
	left: 50%;
	top: 0%;
	font-size: 1rem;
	transform: translate(-50%, calc(100% + 12px));
}

.play-pause-btn {
	top: 100%;
	left: 50%;
	transform: translate(-50%, calc(-100% - 12px));
	font-size: 1.35rem;
}
