/* Active App Drawer Item */
.active {
	background-color: rgba(0, 0, 0, 0.2);
	color: lightgrey;
	animation: shake 0.7s ease;
}

/* Inactive App Drawer Item */
.inactive {
	opacity: 0.7;
}

.appDrawerIcon {
	width: 50px;
	height: auto;
}

.icon-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	border-radius: 1rem;
	padding-top: 5px;
	width: 75px;
	font-size: 0.7rem;
	transition: 0.2s ease;
}

/* Shake Animation for Icons */
@keyframes shake {
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-2px, 0px, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(2px, 0px, 0);
  }

}