.NotificationBar{
    height: 25px;
    width: 100%;
    background: #4e4e4e;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 1rem;
    font-size: 0.8rem;
    z-index: 1;
}

.icons{
    display: flex;
    justify-content: space-around;
}

.icons i{
    margin-left: 0.4rem;
}